<a href="https://colab.research.google.com/github/saifjamil/A-To-Do-Apk/blob/master/Handelling_the_messing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import pandas as pd

# Load the dataset
dataset = pd.read_csv('titanic.csv')

# Extract features (X) and target (y)
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

dataset

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked Survived
0         1  female  38.0    1.0    0.0  71.2833        C      Yes
1         1  female  35.0    1.0    0.0  53.1000        S      Yes
2         1    male  54.0    0.0    0.0  51.8625        S       No
3         3  female   4.0    1.0    1.0  16.7000        S      Yes
4         1  female  58.0    0.0    0.0  26.5500        S      Yes
..      ...     ...   ...    ...    ...      ...      ...      ...
178       1  female  47.0    1.0    1.0  52.5542        S      Yes
179       1    male  33.0    0.0    0.0   5.0000        S       No
180       1  female  56.0    0.0    1.0  83.1583        C      Yes
181       1  female  19.0    0.0    0.0  30.0000        S      Yes
182       1    male  26.0    0.0    0.0  30.0000        C      Yes

[183 rows x 8 columns]

In [44]:
dataset = pd.read_csv('titanic.csv')
x = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [45]:
missing_data = dataset.isnull().sum()
print("Missing Data : \n", missing_data)

Missing Data :
 Pclass       0
Sex          0
Age          9
SibSp        4
Parch        5
Fare         4
Embarked    10
Survived     0
dtype: int64

In [46]:
dataset.shape

(183, 8)

In [47]:
# Step 4: Handle Missing Values in Numeric Columns Based on Skewness
df = dataset.copy()

print("\n--- Numeric Imputation Based on Skewness ---")
for col in df.select_dtypes(include=['number']):
    skew = df[col].skew()
    method = 'mean' if abs(skew) < 0.3 else 'median'
    value = getattr(df[col], method)()
    df[col].fillna(value, inplace=True)
    print(f"{col}: skew = {skew:.2f} → filled with {method} ({value:.2f})")

--- Numeric Imputation Based on Skewness ---
Pclass: skew = 2.68 → filled with median (1.00)
Age: skew = -0.02 → filled with mean (35.52)
SibSp: skew = 1.46 → filled with median (0.00)
Parch: skew = 1.52 → filled with median (0.00)
Fare: skew = 2.68 → filled with median (57.00)

<ipython-input-47-f4c8c451758a>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value, inplace=True)

In [48]:
# Handle non-numeric (categorical) missing values using mode
for col in df.select_dtypes(exclude='number'):
    value = df[col].mode()[0]
    df[col].fillna(value, inplace=True)
    print(f"{col} filled with mode: {value}")

Sex filled with mode: male
Embarked filled with mode: S
Survived filled with mode: Yes

<ipython-input-48-ab5fe23835c6>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value, inplace=True)

In [50]:
missing_data = df.isnull().sum()
print("Missing Data : \n", missing_data)

Missing Data :
 Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
Survived    0
dtype: int64